/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
---------------- PC - 1200px ---------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 1200px){
    // poster image
    .detailContents-left{
        width: 50%;
        border-radius: 18px;
        overflow: hidden;

        img{object-fit: cover;}
    }

    .detailContents-right{width: 50%;}

    .detailVideoBox{
        li{
            a{
                .videoThumb{
                    height: 320px;
                    object-fit: cover;
                }
            }
        }
    }
}

/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------ tablet - 768px ----------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 768px){
    // 뒤로가기 버튼
    .detailBackBtn{
        top: 100px; left: 5%;
        transform: translateX(-5%);
    }

    // detail 내용
    .detailContents{
        flex-direction: column;
        margin-top: -80vh;
        padding: 0 5%;
        column-gap: 0;
        gap: 30px;
    }

    // poster image
    .detailContents-left{
        width: 100%;
    }

    .detailContents-right{
        width: 100%;

        h3{font-size: 2.2rem;}

        // 개봉일 및 런타임
        .detailDateNTime{font-size: 1.2rem;}
        
        // 장르
        .detailGenres{
            p{font-size: 0.9rem;}
        }
    }

    .detailVideoBox{
        padding: 0 5%;

        li{
            a{
                .videoThumb{
                    height: 250px;
                }
            }
        }
    }

    .detailSeasonBox{
        padding: 0 5%;
    }

    hr{margin: 50px 5%;}

    .detailSliderBox{
        margin: 0 5% 90px;

        .swiper-slide{width: 40% !important;}
    }
}

/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------ mobile - 480px ----------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 480px){
    // 뒤로가기 버튼
    .detailBackBtn{
        top: 95px;
        width: 16px; height: 16px;
        font-size: 0.9rem;
    }

    // detail 내용
    .detailContents{margin-top: -82vh;}

    .detailContents-right{
        h3{font-size: 2rem;}

        // 개봉일 및 런타임
        .detailDateNTime{
            margin: 8px 0 16px;
            gap: 10px;
            font-size: 1rem;
        }
        
        // 장르
        .detailGenres{
            margin-bottom: 16px;
            p{
                padding: 5px 10px;
                margin-right: 8px;
                font-size: 0.8rem;
            }
        }

        .detailOverview{
            margin-bottom: 16px;
            font-size: 0.95rem;
        }
        
        .detailCastList, .detailVote{
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 16px;
            font-size: 0.95rem;
            li{width: 100px;}
        }

        .detailCompanyList{
            gap: 10px;
        }
    }

    .detailVideoBox{
        .detailVideoBoxTitle{font-size: 1.12rem;}
        li{
            a{
                .videoThumb{
                    height: 200px;
                    &::after{font-size: 1rem;}
                }
                span{font-size: 1rem;}
            }
        }
    }

    .detailSeasonBox{
        .detailSeasonBoxTitle{font-size: 1.12rem;}

        .seasonAccordion{
            .seasonItem{
                .seasonTitle{font-size: 0.95rem;}
        
                .seasonContent{
                    width: 100%;
                    gap: 16px;
                    padding: 14px;
        
                    .thumbWrap{
                        max-width: 125px;
                        width: 40%;
        
                        .noImage {width: 125px;}
                    }
        
                    .textInfo {
                        width: 60%;
                        font-size: 0.9rem;
        
                        .episode{margin: 5px 0;}
        
                        .overview {
                            font-size: 0.8rem;

                            display: -webkit-box;       
                            -webkit-line-clamp: 7;      
                            -webkit-box-orient: vertical;
                            overflow: hidden;           
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }

    .detailSliderBox{
        margin: 0 5% 50px;

        .swiper-slide{margin-right: 10px !important;}

        span{font-size: 1.12rem;}
    }
}