/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
---------------- PC - 1200px ---------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 1200px){
  // header
  header{
    font-size: 1.5rem;
    padding: 30px 50px;

    &.scrolled{
      padding: 15px 50px;
    }
  }

  // 메인 슬라이드
  .mainBox{
    gap: 50px;
    padding: 140px 50px 80px;

    // 내용 텍스트
    .text{
      h3{font-size: 3rem;}
      p{
        margin: 30px 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;      
        -webkit-box-orient: vertical;
        overflow: hidden;    
        text-overflow: ellipsis;
      }
    }
  }

  // 홈 화면 슬라이드
  .mainList{
    margin: 70px 50px;

    .swiper-slide{width: 25%;}

    .mainListLink{
      p{font-size: 20px;}
    }
  }

  // footer
  footer{
    margin-bottom: 50px;
  }
}

/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------ tablet - 768px ----------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 768px){
  // header
  header{
    font-size: 1.2rem;
    padding: 30px 5%;

    &.scrolled{
      padding: 15px 5%;
    }
  }

  // 메인 슬라이드
  .mainBox{
    gap: 30px;
    padding: 100px 5% 80px;

    p{
      width: 45%;
      img{width: 100%;}
    }

    // 내용 텍스트
    .text{
      width: 50%;
      h3{font-size: 2.5rem;}

      p{width: 100%;}

      button{
        padding: 10px 20px;
        font-size: 0.9rem;
      }
    }
  }
}

/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
---------------- mobile - 600px ------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 600px){
  // 메인 슬라이드
  .mainBox{
    gap: 0;

    p{width: 0;}
    .text{width: 100%;}
  }

  // 홈 화면 슬라이드
  .mainList{
    margin: 50px 5%;

    .swiper-slide{width: 40%;}

    .mainListLink{
      p{font-size: 20px;}
    }
  }

  footer{
    .footerBox{
      column-gap: 30px;

      a{font-size: 1rem;}
    }
  }

  // 더보기 버튼
  .moreBtn{
    padding: 10px 20px;
    border: 1px solid #eee;
    font-size: 0.9rem;
  }
}