/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
---------------- PC - 1200px ---------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 1200px){
    // poster image
    .detailContents-left{
        width: 50%; height: auto;
        border-radius: 18px;
        overflow: hidden;

        img{object-fit: cover;}
    }

    .detailContents-right{width: 60%;}

    .detailVideoBox{
        li{
            a{
                .videoThumb{
                    height: 320px;
                    object-fit: cover;
                }
            }
        }
    }
}

/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------ tablet - 768px ----------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 768px){
    // 뒤로가기 버튼
    .detailBackBtn{
        top: 100px; left: 5%;
        transform: translateX(-5%);
    }

    // detail 내용
    .detailContents{
        flex-direction: column;
        margin-top: -375px;
        padding: 0 5%;
        column-gap: 0;
        gap: 30px;
    }

    // poster image
    .detailContents-left{
        width: 100%; height: auto;
    }

    .detailContents-right{
        width: 100%;

        h3{font-size: 2.2rem;}

        // 개봉일 및 런타임
        .detailDateNTime{font-size: 1.2rem;}
        
        // 장르
        .detailGenres{
            p{font-size: 0.9rem;}
        }
    }

    .detailVideoBox{
        padding: 50px 5%;

        li{
            a{
                .videoThumb{
                    height: 250px;
                }
            }
        }
    }

    hr{
        margin: 0 5% 50px;
    }

    .detailSliderBox{
        margin: 0 5% 90px;

        .swiper-slide{width: 40%;}
    }
}

/* -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------ mobile - 480px ----------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
-------------------------------------------------------------------------------- */
@media (max-width: 768px){
    // 뒤로가기 버튼
    .detailBackBtn{
        top: 100px; left: 5%;
        transform: translateX(-5%);
    }

    // detail 내용
    .detailContents{
        flex-direction: column;
        margin-top: -375px;
        padding: 0 5%;
        column-gap: 0;
        gap: 30px;
    }

    // poster image
    .detailContents-left{
        width: 100%; height: auto;
    }

    .detailContents-right{
        width: 100%;

        h3{font-size: 2.2rem;}

        // 개봉일 및 런타임
        .detailDateNTime{font-size: 1.2rem;}
        
        // 장르
        .detailGenres{
            p{font-size: 0.9rem;}
        }
    }

    .detailVideoBox{
        padding: 50px 5%;

        li{
            a{
                .videoThumb{
                    height: 250px;
                }
            }
        }
    }

    hr{
        margin: 0 5% 50px;
    }

    .detailSliderBox{
        margin: 0 5% 90px;

        .swiper-slide{width: 40%;}
    }
}