.detail{
    position: relative;
}

// 뒤로가기 버튼
.detailBackBtn{
    display: flex;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 115px; left: 50px;
    width: 22px; height: 22px;
    cursor: pointer;
    
    img{width: 100%; height: 100%; object-fit: contain;}
}

// background
.detailBackground::after{
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 100px;
    background-image: linear-gradient(0deg, #000, transparent);
}

// detail 내용
.detailContents{
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding: 0 50px;
    margin-top: -78vh;
    z-index: 900;
}

// poster image
.detailContents-left{
    width: 45%;
    // max-height: 630px;
    aspect-ratio: 2/3;
    border-radius: 18px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.detailContents-right{
    width: 70%;

    h3{font-size: 48px;}

    // 개봉일 및 런타임
    .detailDateNTime{
        display: flex;
        align-items: center;
        gap: 18px;
        margin: 10px 0 20px;
        font-size: 20px;
    }
    
    // 장르
    .detailGenres{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    
        p{
            padding: 7px 14px;
            border: 1px solid #eee;
            border-radius: 25px;
            margin-right: 15px;
        }
    }

    // overview
    .detailOverview{
        display: inline-block;
        margin-bottom: 20px;
        line-height: 1.4;
    }

    // 별점
    .detailVote{
        margin-bottom: 20px;
    }

    // 배우
    .detailCastList{
        display: flex;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 20px;

        li{
            width: 150px; height: auto;
            p{
                aspect-ratio: 2 / 3;
                height: 100%;
            }
        }
    }

    // 제작사
    .detailCompanyList{
        display: flex;
        align-items: flex-start;
        gap: 15px;

        li{
            width: 80px;

            p{
                padding: 8px;
                height: 80px;
            }
            span{
                display: -webkit-box;       /* 플렉스 박스 대신 웹킷 박스 모델 사용 */
                -webkit-line-clamp: 2;      /* 최대 2줄까지 보이게 */
                -webkit-box-orient: vertical; /* 세로 방향으로 박스 배치 */
                overflow: hidden;           /* 넘친 텍스트 숨김 */
                text-overflow: ellipsis;    /* 넘칠 때 ... 표시 */
            }
        }

        
    }
}

// 이미지 없을 때
.noPathBox{
    width: 100%;
    margin: 10px 0;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    .noLogoPath{
        position: absolute;
        display: block;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        color: #333;
    }
    img{width: 100%; height: 100%; object-fit: contain;}
}

// movie - 관련 유튜브 영상
.detailVideoBox{
    width: 100%;
    margin: 50px 0 0;
    padding: 0 50px;

    // 제목
    .detailVideoBoxTitle{font-size: 20px;}

    // 리스트
    li{
        &:first-of-type{margin-top: 25px;}
        margin-top: 50px;
        
        // 각 영상 링크
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;

            // 썸네일 이미지
            .videoThumb{
                height: 500px;
                margin-bottom: 20px;
                border-radius: 8px;
                overflow: hidden;
                position: relative;

                img{width: 100%; height: 100%;}

                // hover 시 나타날 배경 및 텍스트
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0; top: 0;
                    width: 100%; height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                    z-index: 2;
                    opacity: 0;
                    transition: .3s;
                    border-radius: 8px;
                }
                &::after{
                    content: '유튜브 보러가기 →';
                    display: block;
                    position: absolute;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 20px;
                    z-index: 3;
                    opacity: 0;
                    transition: .3s;
                }
            }

            // 영상 제목
            span{
                text-align: center;
                font-size: 18px;
            }
        }

        &:hover .videoThumb::before,
        &:hover .videoThumb::after{
            opacity: 1;
        }
    }
}

// tv - 시즌 정보
.detailSeasonBox{
    width: 100%;
    margin-top: 50px;
    padding: 0 50px;

    // 제목
    .detailSeasonBoxTitle{font-size: 20px;}

    // 리스트 아코디언
    .seasonAccordion{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;
    
        // 각 시즌 정보
        .seasonItem{
            border: 1px solid #333;
            border-radius: 8px;
            overflow: hidden;
    
            // 시즌 제목
            .seasonTitle{
                width: 100%;
                padding: 15px 20px;
                background: rgba($color: #333, $alpha: 0.6);
                font-size: 16px;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                // 우측 화살표 아이콘
                .arrow{
                    font-size: 10px;
                    transition: transform 0.3s ease;

                    // 애니메이션
                    &.up {
                        transform: rotate(180deg);
                    }
                }
            }
    
            // 내용
            .seasonContent{
                display: flex;
                gap: 20px;
                padding: 16px;
                background: rgba($color: #333, $alpha: 0.6);
                border-top: 1px solid #333;
    
                // 이미지 wrap
                .thumbWrap{
                    width: 150px;
                    min-width: 100px;
                    aspect-ratio: 2/3;
    
                    img{
                        width: 100%;
                        border-radius: 7px;
                    }
    
                    // 이미지 없을 때
                    .noImage {
                        width: 150px;
                        border-radius: 7px;
                        aspect-ratio: 2/3;
                        background: #eee;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        color: #333;
                    }
                }
    
                // 텍스트 정보
                .textInfo {
                    flex: 1;
                    font-size: 16px;
    
                    .episode{margin: 5px 0;}
    
                    .overview {
                        margin-top: 10px;
                        line-height: 1.4;
                        font-size: 14px;
                        font-weight: 300;
                        color: #ddd;
                    }
                }
            }
        }
    }
}

// 구분선
hr{margin: 50px;}

// 비슷한 컨텐츠
.detailSliderBox{
    margin: 0 50px 90px;

    // 제목
    span{font-size: 20px;}
    
    // 슬라이더
    .detailSlider{
        font-weight: 300;

        .swiper-slide{width: 18%;}
    }
}

@import './res_detail';